@{
    ViewBag.Title = "About";
}



<!-- about -->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3">History Of Dance</h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>

        </div>

        <div class="row">
            <div class="col-lg-7 text-right about-two-grids">
                <h5 class="mb-lg-4 mb-3">
                    Welcome
                    <span class="mid-color">New</span> Students
                </h5>
                <div class="about-para-txt">
                    <p>
                        sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
                        ut labore et consectetur adipiscing sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum
                        dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing
                    </p>
                    <p class="mt-2">
                        sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
                        ut labore et consectetur adipiscing sed do eiusmod
                    </p>
                </div>
                <div class="view-buttn mt-md-4 mt-3">
                    <a href="blog.html" class=" scroll">Read More</a>
                </div>
            </div>
            <div class="col-lg-5 about-imgs-txt">
                <img src="~/images/ab1.jpg" alt="news image" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!-- counter -->
<section class="stats-count py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 number-w3three-info ">
                <h5>700</h5>
                <h6 class="pt-2">Smile</h6>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 number-w3three-info">
                <h5>250 +</h5>
                <h6 class="pt-2">Awards</h6>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 number-w3three-info">
                <h5>150</h5>
                <h6 class="pt-2">Coffee</h6>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 number-w3three-info">
                <h5>125</h5>
                <h6 class="pt-2">Tea</h6>
            </div>
        </div>
    </div>
</section>
<!-- //counter -->
<!-- team -->
<section class="team py-lg-4 py-md-3 py-sm-3 py-3" id="team">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3">professional dancers</h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/t1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="team-hover">
                        <div class="desk text-center">
                            <h4 class="mb-2">Joya Mily</h4>
                        </div>
                        <div class="s-link">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-rss"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/t2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="team-hover">
                        <div class="desk text-center">
                            <h4 class="mb-2">Max Hammer</h4>
                        </div>
                        <div class="s-link">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-rss"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/t3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="team-hover">
                        <div class="desk text-center">
                            <h4 class="mb-2">Jonn Jozz</h4>
                        </div>
                        <div class="s-link">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-rss"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/t4.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="team-hover">
                        <div class="desk text-center">
                            <h4 class="mb-2">Ray Rox</h4>
                        </div>
                        <div class="s-link">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-rss"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
