@{
    ViewBag.Title = "Home Page";
}


<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3">History Of Dance</h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Modern dance originated in Europe and America in the late 19th and early 20th centuries. It was seen as combining the physical and emotional, to express the human spirit.
            </p>

        </div>

        <div class="row">
            <div class="col-lg-7 text-right about-two-grids">
                <h5 class="mb-lg-4 mb-3">
                    Welcome
                    <span class="mid-color">New</span> Students
                </h5>
                <div class="about-para-txt">
                    <p>
                        Students from various schools in Christchurch came together Monday to pay tribute to the victims of the New Zealand mosque attacks by performing a haka.

                        They performed the traditional Indigenous Maori dance to mourn the victims and honour the dead, then laid flowers and held a moment of silence.
                    </p>

                </div>
                <div class="view-buttn mt-md-4 mt-3">

                </div>
            </div>
            <div class="col-lg-5 about-imgs-txt">
                <img src="~/images/ab1.jpg" alt="news image" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!-- matter -->
<section class="matter-txt py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="matter-w3layouts-text text-center">
            <h5 class="mb-lg-4 mb-3">Dance For Satisfaction Of Your Soul</h5>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>
        </div>
    </div>
</section>
<!--//matter -->
<!-- services -->
<section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3 clr">Our Dance Studio</h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>

        </div>
        <div class="row">
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s1.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Cha Cha</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s2.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Cumbia</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s3.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Cha Cha</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 mt-lg-4 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s2.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Tap dancing</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 mt-lg-4 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s3.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Corridos</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 mt-lg-4 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s1.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Cumbia</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
        </div>
    </div>
</section>
<!-- services -->
<!-- price -->
<section class="prices py-lg-4 py-md-3 py-sm-3 py-3" id="price">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3">Our Pricing List</h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 wls-hours-list">
                <ul>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cumbia
                        <span class="time ml-auto">300$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                        <span class="time ml-auto">450$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                        <span class="time ml-auto">550$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                        <span class="time ml-auto">350$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                        <span class="time ml-auto">450$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                        <span class="time ml-auto">550$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                        <span class="time ml-auto">350$</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 wls-hours-list">
                <ul>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cumbia
                        <span class="time ml-auto">300$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                        <span class="time ml-auto">450$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                        <span class="time ml-auto">550$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                        <span class="time ml-auto">350$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                        <span class="time ml-auto">450$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                        <span class="time ml-auto">550$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                        <span class="time ml-auto">350$</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!--//price -->
<!-- counter -->
<section class="stats-count py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 number-w3three-info ">
                <h5>700</h5>
                <h6 class="pt-2">Smile</h6>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 number-w3three-info">
                <h5>250 +</h5>
                <h6 class="pt-2">Awards</h6>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 number-w3three-info">
                <h5>150</h5>
                <h6 class="pt-2">Coffee</h6>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 number-w3three-info">
                <h5>125</h5>
                <h6 class="pt-2">Tea</h6>
            </div>
        </div>
    </div>
</section>
<!-- //counter -->
<!-- clients -->
<section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3 clr">What Clients Says</h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>

        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 item-clents">
                <div class="client-text">
                    <div class="img-text mb-lg-4 mb-3">
                        <img src="~/images/c1.jpg" alt="" class="img-fluid">
                    </div>
                    <h4 class="mb-2">lois kent</h4>
                    <p>Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 item-clents">
                <div class="client-text">
                    <div class="img-text mb-lg-4 mb-3">
                        <img src="~/images/c2.jpg" alt="" class="img-fluid">
                    </div>
                    <h4 class="mb-2">Mia Sam</h4>
                    <p>Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 item-clents">
                <div class="client-text">
                    <div class="img-text mb-lg-4 mb-3">
                        <img src="~/images/c3.jpg" alt="" class="img-fluid">
                    </div>
                    <h4 class="mb-2">Emma kent</h4>
                    <p>
                        Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 item-clents">
                <div class="client-text">
                    <div class="img-text mb-lg-4 mb-3">
                        <img src="~/images/c4.jpg" alt="" class="img-fluid">
                    </div>
                    <h4 class="mb-2">Emily Rox</h4>
                    <p>
                        Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--//clients -->
<!-- team -->
<section class="team py-lg-4 py-md-3 py-sm-3 py-3" id="team">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3">professional dancers</h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/t1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="team-hover">
                        <div class="desk text-center">
                            <h4 class="mb-2">Joya Mily</h4>
                        </div>
                        <div class="s-link">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-rss"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/t2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="team-hover">
                        <div class="desk text-center">
                            <h4 class="mb-2">Max Hammer</h4>
                        </div>
                        <div class="s-link">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-rss"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/t3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="team-hover">
                        <div class="desk text-center">
                            <h4 class="mb-2">Jonn Jozz</h4>
                        </div>
                        <div class="s-link">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-rss"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 my-3 team-list-team">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/t4.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="team-hover">
                        <div class="desk text-center">
                            <h4 class="mb-2">Ray Rox</h4>
                        </div>
                        <div class="s-link">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-rss"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//team -->
<!-- matter -->
<section class="matter-txt py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="matter-w3layouts-text text-center">
            <h5 class="mb-lg-4 mb-3">Dance For Satisfaction Of Your Soul</h5>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>
        </div>
    </div>
</section>
<!--//matter -->
<!-- time-and-date -->
<section class="timings py-lg-4 py-md-3 py-sm-3 py-3" id="timings">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title clr mb-3">Our Class & Timings </h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>

        </div>
        <div class="row">
            <div class="col-lg-5 col-md-6 wthree-time-sheet">
                <div class="timings-sheet">
                    <ul>
                        <li class="d-flex">
                            Monday
                            <span class="time ml-auto">11:30-10:30</span>
                        </li>
                        <li class="d-flex">
                            Tuesday
                            <span class="time ml-auto">11:30-10:30</span>
                        </li>
                        <li class="d-flex">
                            Wednesday
                            <span class="time ml-auto">11:30-10:30</span>
                        </li>
                        <li class="d-flex">
                            Thursday
                            <span class="time ml-auto">11:00-10:30</span>
                        </li>
                        <li class="d-flex">
                            Saturday
                            <span class="time ml-auto">10:30-14:30</span>
                        </li>
                        <li class="d-flex">
                            Sunday
                            <span class="time ml-auto">Close</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 wthree-time-img">
                <img src="~/images/ab2.jpg" alt="news image" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!--//time-and-date -->
