
@{
    ViewBag.Title = "Service";
}

<!-- services -->
<section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3 clr">Our Dance Studio</h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>

        </div>
        <div class="row">
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s1.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Cha Cha</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s2.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Cumbia</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s3.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Cha Cha</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 mt-lg-4 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s2.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Tap dancing</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 mt-lg-4 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s3.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Corridos</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>


            </div>
            <div class="service-dance-grid col-lg-4 col-md-6 col-sm-6 mt-lg-4 my-3 text-center">
                <div class="service-position">
                    <img src="~/images/s1.jpg" alt="" class="img-fluid">
                    <div class="icon-position">
                        <span class="fa fa-thumbs-up"></span>
                    </div>
                </div>
                <h4 class="mt-4 mb-3">Cumbia</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
        </div>
    </div>
</section>
<!-- services -->
<!-- matter -->
<section class="matter-txt py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="matter-w3layouts-text text-center">
            <h5 class="mb-lg-4 mb-3">Dance For Satisfaction Of Your Soul</h5>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>
        </div>
    </div>
</section>
<!--//matter -->
<!-- price -->
<section class="prices py-lg-4 py-md-3 py-sm-3 py-3" id="price">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="text-center title mb-3">Our Pricing List</h3>
        <div class="title-wls-text text-center pt-lg-2 pt-1 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 wls-hours-list">
                <ul>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cumbia
                        <span class="time ml-auto">300$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                        <span class="time ml-auto">450$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                        <span class="time ml-auto">550$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                        <span class="time ml-auto">350$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                        <span class="time ml-auto">450$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                        <span class="time ml-auto">550$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                        <span class="time ml-auto">350$</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 wls-hours-list">
                <ul>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cumbia
                        <span class="time ml-auto">300$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                        <span class="time ml-auto">450$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                        <span class="time ml-auto">550$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                        <span class="time ml-auto">350$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Corridos
                        <span class="time ml-auto">450$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Cha Cha
                        <span class="time ml-auto">550$</span>
                    </li>
                    <li class="d-flex">
                        <span class="fa fa-arrow-right mr-1" aria-hidden="true"></span>Tap dancing
                        <span class="time ml-auto">350$</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!--//price -->
